//Global Styles
//-------------

a:hover {
	text-decoration: none;
}

.row {
	.make-row();
	margin: 0;
}

.blockicon {
	display: block;
}

.section {
	padding: 40px;
	@media (min-width: @screen-sm) {
	padding: 100px 0;
	}
	@media (min-width: @screen-md) { 
	padding: 140px 0;
	}
}

.accent {
	border-bottom: 4px solid @brand-primary;
}
img {
	max-width: 100%;
}

//Page Styles
//-----------

.masthead {
	.clearfix();
	background-color: @gray-dark;
	padding: 20px 150px;
}

.logo {
		float: left;
		h1 {
		display: inline;
		color: @body-bg;
		position: absolute;
		top: 30px;
	}
	img {
		width: 100px;
		margin-right: 10px;
	}
}

.code {
	color: @brand-primary;
}

.navigation {
	ul {
		padding-left: 0;
		margin-bottom: 0;
		.clearfix();
		a {
			color: @body-bg;
			font-size: 18px;
		}
	}
	li {
		display: inline-block;
		margin: 42px (@grid-gutter-width *2) 0;
		list-style: none;
		text-transform: uppercase;
		&:hover {
			.accent;
		}
	}
}


.team {
	&:extend(.row);
	background-color: @gray-dark;
	h1 {
		color: @body-bg;
		display: inline-block;
		.accent;
	}
	.teamate {
		.make-sm-column(4);
		text-align: center;
		padding: @grid-gutter-width;
		img {
			width: 250px;
			.img-circle;
		}
	}
}

.why {
	background-color: @gray;
	text-align: center;
	color: @body-bg;
	h1 {
		margin-bottom: 40px;
		display: inline-block;
		.accent;
	}
	p {
		font-size: 20px;
	}
}

.where {
	text-align: center;
	h1 {
		margin-bottom: 40px;
		display: inline-block;
		color: @gray;
		//.accent;
	}
	.client {
		&:extend(.row);
		img {
			.make-sm-column(3);
			.img-circle;
		}
	}
}

.how {
	background-color: @gray-dark;
	.contact {
		&:extend(.row);
		color: @body-bg;
	}
	.blurb {
		.make-sm-column(6);
	}
	.form {
		legend {
			color: @body-bg;
			.accent;
		}
		.make-sm-column(6);
		.form-control {
			border-radius: 0;
		}
	}
}



//Contact Form



//Portfolio Page

.portfolio_details {
	background-color: @gray-dark;
	text-align: center;
	img {
		width: 100%;
	}
}

.portfolio_blurb {
	background-color: @gray;
	color: @body-bg;
	text-align: center;
}

//Footer styles

footer {
		text-align: center;
		background-color: @gray-dark;
	img {
		width: 80px;
	}
	.footer_accent {
		padding: 2px;
		background-color: @brand-primary;
	}
}
